<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

	<appender name="FILE1" class="ch.qos.logback.core.FileAppender">
		<file>info.log</file>
		<append>false</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE2" class="ch.qos.logback.core.FileAppender">
		<file>error.log</file>
		<append>false</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="ALL">
		<appender-ref ref="FILE1"/>
		<appender-ref ref="FILE2"/>
	</root>


</configuration>